recursive-include overai *
recursive-include examples *.py
include README.md
include USAGE.md
include LICENSE
include requirements.txt
global-exclude *.so *.dylib *.pyc __pycache__
exclude .git .gitignore
